

/* variables */
:root{
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  /* --facebook: hsl(203, 89%, 53%); */
  --facebook: hsl( 221, 44%, 41%);
  --twitter: hsl(195, 100%, 50%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --youTube: hsl(2, 64%, 47%);

  --white: #f8f9fe;
  --white-dark: #e8e8e8;
  --black: #1d2029;
  --silver-light: #f0f3fa;
  --silver: #eff0f2;
  --silver-dark:#a5a5a5;
  --gray: #828282;
  --dark-gray: #353535;
  /* --dark-lead: */
}

/* general */
body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--black);
  background: var(--white);
  /* border: solid 1px red; */
}

.wrapper{
  padding: 0 20px;
}

.grid{
  display: grid;
  grid-row-gap: 25px;
}

.dark-mode{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

.checkbox{
  display: none;
}

.checkbox:checked ~ .switch::before{
  transform: translate(0);
}

.switch{
  display: block;
  /* border: solid 1px red; */
  width: 56px;
  height: 30px;
  border-radius: 20px;
  background: var(--silver-dark);
  padding: 2.5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.switch::before{
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--white-dark);
  transform: translateX(26px);
  transition: .2s;
  will-change: transform;
}


/* header */
.header{
  /* border: solid 1px orangered;   */
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  padding-bottom: 100px;
  padding-top: 2em;
}

h1{
  font-size: 1.7em;
}

.total-followers{
  color: var(--gray);
  margin: .5em 0;
  font-weight: 600;
  padding-bottom: 1.5em;
  border-bottom: solid 1px var(--gray);
}

/* top-card */
.top-cards{
  /* border: 1px solid purple; */
  margin-top: -50px;
  margin-bottom: 3em;
}

/* card */
.card{
  border-radius: 7px;
  overflow: hidden;
  background: var(--silver-light);
  text-align: center;
  padding: 1.7em 0;
  position: relative;
  /* border-top: 1px solid blue; */
}

.card::before{
  content: "";
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.card.facebook::before{
  background: var(--facebook);
}

.card.twitter::before{
  background: var(--twitter);
}

.card.instagram::before{
  background-image: linear-gradient(to right, var(--instagram-1) ,var(--instagram-2));
}

.card.youtube::before{
  background: var(--youTube);
}

.card-title{
  /* border: solid 1px rgb(218, 182, 40); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  font-size: .8em;
  font-weight: bold;
}

.card-title img{
  margin-right: 5px;
}

.card-followers{
  /* border: solid 1px red; */
}

.card-followers-number{
  /* border: solid  1px green; */
  font-size: 55px;
  font-weight: 600;

}

.card-followers-title{
  /* border: solid 1px rgb(14, 6, 247); */
  display: block;
  text-transform: uppercase;
  color: var(--gray);
  letter-spacing: 6px;
  font-size: .8em;
}

.card-today{
  /* border: solid 1px royalblue; */
  margin-top: 30px;
  color: var(--lime-green);
  font-weight: bold;
  font-size: .7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-today img{
  margin-right: 5px;
}

/* overview */
.overview{
  /* border: solid 2px orangered; */
  margin-bottom: 500px;
}

h2{
  color: var(--gray);
}

.card-small{
  /* border: solid 2px green; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.5em;
  background: var(--silver);
  border-radius: 8px;
  padding: 1.5em;
}

.card-small p{
  margin: 0;
}

.card-small-views{
  /* border: solid 2px yellowgreen; */
  color: var(--gray);
  font-weight: bold;
  font-size: .8em;
}

.card-small-icon{
  /* border: solid 2px purple; */
  text-align: right;
}

.card-small-number{
  /* border: solid 2px rgb(0, 185, 179); */
  font-weight: bold;
  font-size: 2.5em;
  line-height: .8;
}

.card-small-percetage{
  /* border: solid 2px rgb(53, 151, 112); */
  text-align: right;
  display: flex;
  align-items: flex-end;
  color: var(--lime-green);
  justify-content: flex-end;
  font-size: .8em;
  font-weight: bold;
  
}

.card-small-percetage.is-danger{
  color: var(--bright-red);
}

.card-small-percetage span{
  /* border: solid 2px olive; */
  display: flex;
  align-items: center;
}

.card-small-percetage img{
  margin-right: 5px;
}

/* RESPONSIVE */
@media screen and (min-width: 481px) {
  .grid{
    /* border: solid 2px limegreen; */
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 25px;
  }

  .wrapper{
    max-width: 1440px;
    margin: auto;
  }
}

@media screen and (min-width: 769px) {
  .grid{
    /* border: solid 2px limegreen; */
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 25px;
  }
  .wrapper{
    max-width: 1440px;
    margin: auto;
  }
  
}

@media screen and (min-width: 1024px) { 
  .grid{
    /* border: solid 2px rgb(240, 92, 154); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
  }
  .wrapper{
    max-width: 1440px;
    margin: auto;
  }
  .header-grid{
    display: grid;
    grid-template-columns: 1fr 200px; 
  }
}


/* DARK MODE */
.is-dark-mode{
  --white: #212122;
    --white-dark: #0a1d37;
    --black: #e1e2e5;
    --silver-light: #28292b;
    --silver: #1c1d1f;
    --silver-dark:linear-gradient(to right, #29618a ,#108659);;
    --gray: #9b9b9b;
    --dark-gray: #626161;
}

@media (prefers-color-scheme: dark){
  body{
    background: #353535;
  }
  :root{
    --white: #212122;
    --white-dark: #0a1d37;
    --black: #e1e2e5;
    --silver-light: #28292b;
    --silver: #1c1d1f;
    --silver-dark:linear-gradient(to right, #29618a ,#108659);;
    --gray: #9b9b9b;
    --dark-gray: #626161;

  }
  .switch{
    background-color: linear-gradient(to right, #29618a ,#108659);
  }
  .switch::before{
    background-color: #0a1d37;
  }
}
