/* variables */
:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(221, 44%, 41%);
  --twitter: hsl(213.62deg 73.42% 69.02%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(316, 99%, 32%);
  --youTube: hsl(3.86deg 92.83% 50.78%);

  --white: #f8f9fe;
  --white-dark: #f7e629;
  --black: #1d2029;
  --silver-light: #f0f3fa;
  --silver: #eff0f2;
  --silver-dark: linear-gradient(to right, #7fbcd4, #b4f1ff);
  --gray: #828282;
  --dark-gray: #353535;
}

/* general */
body {
  margin: 0;
  padding: 0px 20px;
  font-family: "Inter", sans-serif;
  color: var(--black);
  background: var(--white);
}

.wrapper {
  width: 100%;
  padding: 0%;
}

.grid {
  display: grid;
  grid-row-gap: 25px;
}

.dark-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  gap: 10px;
}

.checkbox {
  display: none;
}

.checkbox:checked ~ .switch::before {
  transform: translate(0);
}

.switch {
  display: block;
  width: 56px;
  height: 30px;
  border-radius: 20px;
  background: var(--silver-dark);
  padding: 2.5px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}

.switch::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--white-dark);
  transform: translateX(112%);
  transition: 0.2s;
  will-change: transform;
}

/* header */
.header {
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  padding-bottom: 100px;
  padding-top: 2em;
}

.header-grid {
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

h1 {
  font-size: 1.7em;
}

.total-followers {
  color: var(--gray);
  margin: 0.5em 0;
  font-weight: 600;
  padding-bottom: 1.5em;
  border-bottom: solid 1px var(--gray);
}

.dark-mode-title {
  color: var(--gray);
  font-weight: 600;
}

.top-cards {
  margin-top: -50px;
  margin-bottom: 3em;
}

/* card */
.card {
  border-radius: 7px;
  overflow: hidden;
  background: var(--silver-light);
  text-align: center;
  padding: 1.7em 0;
  position: relative;
}

.card::before {
  content: "";
  height: 5px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.card.facebook::before {
  background: var(--facebook);
}

.card.twitter::before {
  background: var(--twitter);
}

.card.instagram::before {
  background-image: linear-gradient(
    to right,
    var(--instagram-1),
    var(--instagram-2)
  );
}

.card.youtube::before {
  background: var(--youTube);
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  font-size: 0.8em;
  font-weight: bold;
}

.card-title img {
  margin-right: 5px;
}

.card-followers-number {
  font-size: 55px;
  font-weight: 600;
}

.card-followers-title {
  display: block;
  text-transform: uppercase;
  color: var(--gray);
  letter-spacing: 6px;
  font-size: 0.8em;
}

.card-today {
  margin-top: 30px;
  color: var(--lime-green);
  font-weight: bold;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-today img {
  margin-right: 5px;
}

h2 {
  color: var(--gray);
}

.card-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.5em;
  background: var(--silver);
  border-radius: 8px;
  padding: 1.5em;
}

.card-small p {
  margin: 0;
}

.card-small-views {
  color: var(--gray);
  font-weight: bold;
  font-size: 0.8em;
}

.card-small-icon {
  text-align: right;
}

.card-small-number {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 0.8;
}

.card-small-percetage {
  text-align: right;
  display: flex;
  align-items: flex-end;
  color: var(--lime-green);
  justify-content: flex-end;
  font-size: 0.8em;
  font-weight: bold;
}

.card-small-percetage.is-danger {
  color: var(--bright-red);
}

.card-small-percetage span {
  display: flex;
  align-items: center;
}

.card-small-percetage img {
  margin-right: 5px;
}

/* RESPONSIVE */
@media screen and (min-width: 481px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }

  .wrapper {
    margin: auto;
  }
}

@media screen and (min-width: 769px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 25px;
  }
  .wrapper {
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
  }
  .wrapper {
    margin: auto;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 10px;
  }

  .total-followers {
    border: none;
  }
}

/* LIGHT MODE */
.is-light-mode {
  --white: #f8f9fe;
  --white-dark: #f7e629;
  --black: #1d2029;
  --silver-light: #f0f3fa;
  --silver: #eff0f2;
  --silver-dark: linear-gradient(to right, #7fbcd4, #b4f1ff);
  --gray: #828282;
  --dark-gray: #353535;
}

/* DARK MODE */
.is-dark-mode {
  --white: #212122;
  --white-dark: #a8a8a8;
  --black: #e1e2e5;
  --silver-light: #28292b;
  --silver: #1c1d1f;
  --silver-dark: linear-gradient(to right, #192f63, #4a8d76);
  --gray: #9b9b9b;
  --dark-gray: #626161;
}

@media (prefers-color-scheme: dark) {
  body {
    background: var(--white);
  }
  :root {
    --white: #212122;
    --white-dark: #a8a8a8;
    --black: #e1e2e5;
    --silver-light: #28292b;
    --silver: #1c1d1f;
    --silver-dark: linear-gradient(to right, #7fc2aa, #0a0b3d);
    --gray: #9b9b9b;
    --dark-gray: #626161;
  }
  .switch {
    background-color: linear-gradient(to right, #29618a, #108659);
  }
  .switch::before {
    background-color: var(--white-dark);
  }
}
